body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 45px;
}

.center {
    text-align: right;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: normal;
}

.img-medium {
    height: 200px;
}

